In [10]:
import pandas as pd

In [11]:
ratings = pd.read_csv('billboard_ratings.csv')

In [12]:
songs = pd.read_csv('billboard_songs.csv')

In [13]:
ratings.head()

   id date.entered week  rating
0   0   2000-02-26  wk1    87.0
1   0   2000-02-26  wk2    82.0
2   0   2000-02-26  wk3    72.0
3   0   2000-02-26  wk4    77.0
4   0   2000-02-26  wk5    87.0

In [14]:
songs.head()

   year        artist                    track  time  id
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   1
2  2000  3 Doors Down               Kryptonite  3:53   2
3  2000  3 Doors Down                    Loser  4:24   3
4  2000      504 Boyz            Wobble Wobble  3:35   4

In [15]:
joined = pd.merge(songs, ratings, on='id')

In [16]:
joined.head()

   year artist                    track  time  id date.entered week  rating
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22   0   2000-02-26  wk1    87.0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22   0   2000-02-26  wk2    82.0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22   0   2000-02-26  wk3    72.0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22   0   2000-02-26  wk4    77.0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22   0   2000-02-26  wk5    87.0

In [17]:
len(songs)

317

In [18]:
len(ratings)

24092

In [19]:
len(joined)

24092

In [20]:
assert len(joined) == max(len(songs), len(ratings))